@charset "utf-8";

/*

  Mancave Collection Room Page Specific CSS Styles
  Author: Colby Ellsworth
  Date:   11/22/2020

*/

/* Body Layout Styles */

div#flexroom {
  display: flex;
}

/* Navigation styles */

nav ul li a#thisPage {
   background-color: #FA9E25;
   color: white;
}

/* Section styles */

section {
  flex: 2 1 60%;
}

article {
  margin: 0px 10px;
}

div#imgroom > p {
  margin: 0px 10px;
}

div#imgroom > p > strong {
  color: #FA9E25;
}

/* Aside styles */

aside {
  flex: 1 1 40%;
  background-color: #FA9E25;
  color: white;
  border-left: 2px solid black;
}

aside > h2 {
  color: white;
}

aside > p {
  margin: 0px 10px;
}

aside > div#imgmade > p {
  margin: 0px 10px;
}

/* Image styles */

div#twoimage1 {
  display: flex;
}

img.horiz {
  display: block;
  width: 80%;
  margin: 10px 10%;
  border: 3px solid #FA9E25;
}

img.vertic {
  display: block;
  width: 40%;
  margin: 10px 5%;
  border: 3px solid #FA9E25;
}

img#onecolumn {
  display: block;
  width: 60%;
  margin: 10px 20%;
  border: 3px solid #FA9E25;
}

img.thin {
  display: block;
  width: 80%;
  margin: 10px 10%;
  border: 3px solid #3EFA6D;
}

img#thick {
  display: block;
  width: 90%;
  margin: 20px 5.5% 0px 4.5%;
  border: 3px solid #3EFA6D;
}

figcaption {
  text-align: center;
}

/* Video styles */

video {
  display: block;
  width: 80%;
  margin: 10px 10%;
  border: 3px solid #FA9E25;
}

/* Media query styles */

@media only screen and (max-width: 480px) {
  div#flexroom {
    flex-flow: row wrap;
  }
  aside {
    border-left: none;
  }
}